<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sintegra" translate="label" sortOrder="10">
            <label>Sintegra WS</label>
        </tab>
        <section id="token" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Token</label>
            <tab>sintegra</tab>
            <resource>JRComercio_CompanyInformation::sintegra_token</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuração do token</label>
                <field id="token_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sintegra Token</label>
                    <comment>É usado para conseguir pegar as informações da empresa no cadastro.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
